body, html {
  background-color: #000;
  color: #999;
}
h5 {
  color: #eee;
}
.card-movie {
  margin: .90rem 0;
}
.card-movie p {
  margin-bottom: .05rem;
}
.card-movie .card-image  {
  overflow: hidden;

}
  .card-movie .card-image img {
    -webkit-transition: -webkit-transform .2s ease;
      transition: -webkit-transform .2s ease;
      -o-transition: -o-transform .2s ease;
      transition: transform .2s ease;
      transition: transform .2s ease,-webkit-transform .2s ease,-o-transform .2s ease;
  }
  .card-movie:hover .card-image img {
    transform: scale(1.05);  
  }
  .card-title {
    margin: .75rem 0;
  }
.box-search {
  padding-top: 25px;
  padding-bottom: 25px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 30px 20px;
  margin: 15px 0px;
  color: white;
}